// ########## Default ##########
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background: hsl(217, 28%, 15%);
  color: white;
}

// ########## Mobile view ##########
.wrapper {
  padding: 40px 20px 350px;
  background: url(../images/bg-curvy-mobile.svg) no-repeat bottom;
  background-size: 20000px 4200px;

  h2, h3 {
    font-family: 'Raleway', sans-serif;
  }

  p {
    font-size: 14px;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-bottom: 50px;

    img {
      width: 100px;
    }

    ul {
      list-style: none;
      justify-self: end;
      align-self: center;
      
      li {
        display: inline;

        &:nth-of-type(2) {
          margin: 0 10px;
        }

        a {
          color: rgb(228, 226, 226);
          text-decoration: none;
        }

      }

    }

  } // End of nav

  main {
    position: relative;

    header {
      text-align: center;
      margin-bottom: 150px;

      img {
        width: 80%;
      }

      h2 {
        margin: 20px 0;
        line-height: 1.5;
      }

      p {
        line-height: 1.5;
        margin: 0 25px;
      }

      button {
        background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        color: white;
        font-weight: bold;
        width: 200px;
        padding: 12px 0;
        border: none;
        border-radius: 50px;
        margin-top: 30px;
        cursor: pointer;
      }
      
    } // End of header

    .files {
      text-align: center;
      margin-bottom: 150px;

      img {
        width: 50px;
      }

      .two {

        img {
          width: 35px;
        }

      }

      h3 {
        margin: 30px 0 15px;
      }

      p {
        line-height: 1.5;
      }

      .file {
        margin: 0 5px 70px;

        &:nth-of-type(4){
          margin-bottom: 0;
        }

      }

    } // End of .files

    .productivity {
      margin-bottom: 150px;

      .image {

        img {
          width: 80%;
          margin: 0 auto;
          display: block;
        }

      }

      .write-up {

        h3 {
          margin: 50px 0 20px;
        }
  
        p {
          line-height: 1.5;
  
          &:nth-of-type(2) {
            margin: 20px 0;
          }
  
        }
  
        a {
          color: hsl(176, 68%, 64%);
        }

      }

    } // End of .productivity

    .testimony {
      margin: 0 20px;
      padding-top: 40px;
      background: url(../images/bg-quotes.png) no-repeat;

      .testimonial {
        background: hsl(219, 30%, 18%);
        padding: 30px 20px 20px;
        border: 1px solid hsl(219, 30%, 18%);
        border-radius: 10px;

        &:nth-of-type(2) {
          margin: 20px 0;
        }

        p {
          line-height: 1.5;
          font-size: .8em;
        }

        .profile {
          margin-top: 20px;
          img {
            width: 30px;
            border-radius: 50%;
          }

          .person {
            display: inline-block;
            width: 150px;
            margin-left: 5px;

            p {
              font-size: .7em;
            }

          }

        }

      }

    } // End of .testimony

    .sign-up {
      text-align: center;
      padding: 30px 20px;
      background: hsl(218, 28%, 13%);
      position: absolute;
      bottom: -520px;
      border-radius: 10px;

      p {
        margin: 20px 0 40px;
      }

      input, button {
        display: block;
        margin: 0 auto;
        width: 90%;
        padding: 15px 20px;
        box-sizing: border-box;
        border: none;
        border-radius: 50px;
      }

      input {
        color: rgb(146, 139, 139);
      }

      button {
        background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        color: white;
        font-weight: bold;
        margin-top: 20px;
        cursor: pointer;
      }

    } // End of sign-up

  } // End of main

} // End of wrapper

footer {
  background: hsl(216, 53%, 9%);
  padding: 250px 20px 0;

  .logo {
    margin: 0 0 30px 15px;

    img {
      width: 150px;
    }

  }

  .location, .phone, .email {
    display: grid;
    grid-template-columns: 1fr 8fr;

    p {
      line-height: 1.5;
    }
   
  }

  .phone {
    margin: 20px 0;
  }

  .contact {
    margin-bottom: 60px;
  }

  .updates {

    a {
      color: white;
      display: block;
      text-decoration: none;
      margin: 20px 0;

      &:nth-of-type(1) {
        margin-top: 0;
      }

      &:nth-of-type(4) {
        margin-bottom: 50px;
      }

      &:nth-of-type(7) {
        margin-bottom: 0;
      }

    }

  }

  .social {
    text-align: center;
    margin: 50px auto;

    img {

      &:nth-of-type(2) {
        margin: 0 10px;
      }

    }

  }

  .profile {
    font-size: .75em;
    margin-bottom: 20px;
    text-align: center;

    #fspan {
      padding-right: 10px;
      border-right: 2px solid hsl(176, 68%, 64%);
    }

    #sspan {
      padding-left: 10px;
      border-left: 2px solid white;
    }

    a {
      color: hsl(176, 68%, 64%);
      text-decoration: underline;
      text-decoration-color: white;

      &:hover {
          text-decoration: none;
      }

    }

  }

} // End of footer

// ########## Desktop view ##########
@media screen and (min-width: 768px) {
  .wrapper {
    padding: 50px 100px 350px;
    background: url(../images/bg-curvy-desktop.svg) no-repeat bottom center;
    background-size: 10000px 2900px;

    p {
      font-size: 1em;
    }

    nav {

      img {
        width: auto;
      }

      ul {
        font-size: 1.3em;

        li {
  
          &:nth-of-type(2) {
            margin: 0 20px;
          }

        }

      }

    } // End of nav

    main {

      header {
        width: 50%;
        margin: 0 auto 150px;

        img {
          width: 100%;
        }

        h2 {
          font-size: 2em;
        }

      }

      .files {
        width: 75%;
        margin: 0 auto 150px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5em;
        box-sizing: border-box;
      }

      .productivity {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .write-up {
          align-self: center;
          width: 500px;

          h3 {
            font-size: 1.8em;
          }

        }

      }

      .testimony {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;

        .testimonial {
  
          &:nth-of-type(2) {
            margin: 0;
          }

          p {
            font-size: 1em;
          }

        }

      }

      .sign-up {
        width: 70%;
        bottom: -450px;
        left: 13%;

        h3 {
          font-size: 1.5em;
        }

        p {
          margin: 20px 40px;
        }
       
        input {
          width: 50%;
          display: inline-block;
          margin-right: 10px;
        }

        button {
          width: 22%;
          display: inline-block;
          font-size: .8em;
        }

      }

    } // End of main

  } // End of wrapper

  footer {
    padding: 200px 20px 0 100px;

    .logo {

      img {
        width: auto;
      }
    }

    .line {
      display: grid;
      grid-template-columns: 1.5fr 1fr 1fr 1fr;
      grid-gap: 3em;
      justify-items: center;

      .contact {

        img {
          margin-right: 10px;
        }

      }

      .updates {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5em;

        a {
          margin: 0;

          &:nth-of-type(5) {
            grid-column: 2;
            grid-row: 1;
          }

          &:nth-of-type(6) {
            grid-column: 2;
            grid-row: 2;
          }

          &:nth-of-type(7) {
            grid-column: 2;
            grid-row: 3;
          }

        }

      }

      .social {
        margin: 0;
      }

    }

    .profile {
      font-size: 1em;
      margin: 50px 0 5px;
    }
    
  } // End of footer

} // End of Media Query
